* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global Styles here

.weight-thin {
    font-weight: 300;
}

.card {
    background: rgb(247, 247, 247);
    border-radius: 8px;
    box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;    
}

.d-flex {
    display: flex;
    align-items: center;
}

.button--gray {
    padding: .625rem 1.25rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0 2px #444;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    background: #444;
    &:hover {
        background: transparent;
        color: #444;
    }
}




.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;

    header {
        background-color: #5a684d;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        text-align: center;

    }

    main {
        flex: 1;
        background-color: #fff9ed;  
        padding: 20px 50px;
        height: calc(100vh - 176px);

        .main-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .search-input {
            width: 300px;
            padding: 10px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
       
        }

        .results {
            margin-top: 20px;
                height: 682px;
    overflow: auto;
        }
    }

    footer {
       
        background-color: #282c34;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding: 15px;
    }
    
}

 @media (max-width: 768px) {
    .wrapper {
        main {
            padding: 10px 20px;
            .main-content {
                flex-direction: column;
                align-items: flex-start;
            }
            .search-input {
                width: 100%;
            }
        }
    }

    .search-bar {
        width: 100%;
        margin-top: 20px;
    }


 }